@model IEnumerable<Student_Info.Models.StudentClass>
@{
    ViewData["Title"] = "Class Page";
    int sl = 0;
}

<h2 class="text-info text-center">All Class</h2>
@if (User.Identity.IsAuthenticated)
{
    <p class="text-right">
        <a asp-action="Create" class="btn btn-outline-primary">Add New Class</a>
    </p>
}

<table class="table table-bordered table-striped table-sm table-hover">
    <thead class="text-dark bg-info">
        <tr>
            <th>
                SL#
            </th>
            <th>
                @Html.DisplayNameFor(x => x.ClassName)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl++;
            <tr>
                <td>@sl</td>
                <td>@item.ClassName</td>
            </tr>
        }
    </tbody>

</table>